<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.projectx.member.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.example.projectx.member.vo.Member">
        INSERT INTO MEMBER (EMAIL, PASSWORD, NAME)
        VALUES (#{email}, #{password}, #{name})
    </insert>

    <select id="findMember" parameterType="java.lang.String" resultType="com.example.projectx.member.vo.Member">
        SELECT *
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <select id="findAllMembers" resultType="com.example.projectx.member.vo.Member">
        SELECT *
        FROM MEMBER
    </select>
</mapper>